<br>
<footer style="background-color: black; color: white; padding: 5px;  padding-left: 15px;">
      <p style="margin: 0;">Copyright © <%= new Date().getFullYear() %>
  </p>
</footer>

<script src="/index.js"></script>



<!-- Запуск функций в обход ошибок с комментариями главной страницы -->
<script>
    if (typeof checkBirthday === 'function') {
        checkBirthday();
    }
</script>

</body>
</html>
